#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 0px;
}

#products li {
  flex-basis: 25%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  list-style: none;
}

#products li img {
  max-width: 100%;
  height: auto;
}

#products li .product-top {
  position: relative;
  overflow: hidden;
}

#products li .product-top .product-thumb {
  display: block;
}

#products li:hover .product-top .product-thumb img {
  filter: opacity(80%);
}

#products li .product-top .product-thumb img {
  display: block;
}

#products li .product-top a.buy-now {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: #445085;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  bottom: -40px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

#products li:hover a.buy-now {
  bottom: 0px;
}

#products li .product-info a {
  display: block;
  text-decoration: none;
}

#products li .product-info .product-cat {
  font-size: 14px;
  text-transform: uppercase;
  color: #9e9e9e;
  padding: 3px 0px;
}

#products li .product-info .product-name {
  color: #334862;
  padding: 3px 0px;
}

#products li .product-info .product-price {
  color: #b12704;
  padding: 2px 0px;
  font-weight: 800;
}
